<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
	<a class="navbar-brand" style="color: white; padding: 5px;" href="/"><i class="fa fa-arrow-left" aria-hidden="true" style="color: white !important;"></i>  Back to Shop</a>
</nav>


<div class="container" style="border: 0px !important;">


	<div class="container-fliud">
		<div class="wrapper row">
{{#each data}}
			<div class="preview col-md-6">
				<div class="preview-pic tab-content" style="margin-top: 80px;">
					<div class="tab-pane active" id="picture"><img src="{{this.img_url}}" /></div>
				</div>
			</div>
			<div class="details col-md-6" style="margin-top: 80px;">
				<h3 class="product-title" style="text-transform: uppercase;">{{this.product_name}}</h3>
				<h6>Product ID: {{this.id}}</h6>
				<h6>Product Type: {{this.product_type}}</h6>
				<br>
				<p class="product-description">{{this.product_desc}}</p>
				<h3 class="price">Price: <span>{{this.price}}</span></h3>
				<h5 class="sizes">Sizes:
					<span class="size" data-toggle="tooltip" title="small">S</span>
					<span class="size" data-toggle="tooltip" title="medium">M</span>
					<span class="size" data-toggle="tooltip" title="large">L</span>
					<span class="size" data-toggle="tooltip" title="xtra large">XL</span>
				</h5>
				<p class="vote"><strong>{{this.brand}}</strong></p>
				<div class="action">
				</div>
			</div>
{{/each}}
		</div>
	</div>

	<center><h2 style="letter-spacing: 3px; margin-top: 70px;">CONTACT US</h2></center>
	<hr style="border-color: black !important; margin: 15px 250px 15px 250px;">
	<br>




  <center><h1>{{msg}}</h1></center>
  <div>
  	<br>
    <center><h5 class="card-title">{{msg2}}</h5></center>
        <div class="row justify-content-center">
    <a href="/" class="btn btn-dark col-md-4" role="button" aria-pressed="true"><i class="fa fa-arrow-left" aria-hidden="true" style="color: white !important;"></i>  Go Back to Shop</a>
</div>
  </div>



{{#each data}}

	<form action="/details/{{this.id}}/contact" id="contact-form" method="POST" role="form">
		<!-- method="POST" action="{{this.id}}/send" -->
		<fieldset>
			<div class="form-row">
				<div class="col">
					<label for="name">Name: </label>
					<input class="form-control" id="name" name="name" type="text" placeholder="Your name" required="required">
				</div>
				<div class="col">
					<label for="email">Email: </label>
					<input class="form-control" id="email" name="email" type="text" placeholder="Your email" required="required">
				</div>
				<div class="col">
					<label for="phone">Phone: </label>
					<input class="form-control" id="phone" name="phone" type="number" placeholder="Your number" required="required">
				</div>
			</div>
			<div class="form-row">
				<div class="col">
					<label for="product">Product ID: </label>
					<input class="form-control" id="product" name="product" type="text" readonly value="{{this.id}}" required="required">
				</div>
				<div class="col">
					<label for="quantity">Quantity: </label>
					<input class="form-control" id="quantity" name="quantity" type="number" placeholder="Quantity" required="required">
				</div>
			</div>
			<br>
			<button class="btn btn-dark col-md-12" type="submit">Submit</button>
		</fieldset>
	</form>
{{/each}}
</div>